html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

svg{
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    float: right;
}

#text{
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40%;

    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 20px;

    background-color: #393a3b;
    opacity: 0.9;
}

#root{
    height: 100%;
    width: 100%;
}

#planetInfo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
}

#annotation{
    transform: translate3d(-50%, -175%, 0);
    background: #7676aa;
    padding: 16px;
    border-radius: 5px;
    font-size: 2rem;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}